extends layout
block content
  div.index
    p.index-about 
      |Detta är en sida som man loggar in på för att göra ett quiz.
      br
      |Du måste logga in för att göra quizzet.  
                  
